<style>
    .footer1-1{
  background-color: whitesmoke;
  display: flex;
  color:#fefefe;
  justify-content: space-evenly;
  padding-top: 80px;
  letter-spacing: 2px;
  color: gray;

}
  .footer1-1 h5{
    margin-top: 0px;
    margin-bottom: 20px;
    color: #676770;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .footer1-1 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
}
  
.footer1-1 ul{
  list-style: none;
  letter-spacing: 1px;
  margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
  
}
.container14{
    border-top: 1px solid #dbdbdb;
    background-color: #383838;
    text-align: center;
    width:100%;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;

    margin-top: 5px;
    margin-bottom: 5px;
    color: #9e9e9e;
    font-size: 16px;
    line-height: 20px;

}

</style>
<footer>
    <div class="footer1">
        <div class="footer1-1">
            <div>
                <h5>ABOUT VELOCITY</h5>
                <P>Lorem ipsum dolor sit amet, consectetur <BR>adipiscing elit. Suspendisse varius enim in eros <br>elementum tristique. Duis cursus, mi quis<br> viverra ornare, eros dolor interdum nulla, ut <br>commodo diam libero vitae erat.</P>
            </div>
            <div>
                <h5>USEFUL LINKS</h5>
                <ul>
                    <li>Phasellus gravida semper nisi</li><hr>
                    <li>Suspendisse nisl elit</li><hr>
                    <li>Dellentesque habitant morbi</li><hr>
                    <li>Etiam sollicitudin ipsum</li><hr>
                </ul>
            </div>
            <div>
              <h5>SOCIAL</h5>
              <ul>
                <li>Twitter <i class="fa fa-twitter" aria-hidden="true"></i></li><hr>
                <li>Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></li><hr>
                <li>Instagram <i class="fa fa-instagram" aria-hidden="true"></i></li><hr>
                <li>Instagram <i class="fa fa-instagram" aria-hidden="true"></i></li><hr>
                <li>Instagram <i class="fa fa-instagram" aria-hidden="true"></i></li><hr>
              </ul>
            </div>
          </div>
        </div>


    <div class="container14">
      <div>
          <h2>Copyright Velocity Inc. Made in Webflow.</h2>
      </div>
    </div>

  </footer>